
.primarybtn {
    background:rgba(238,176,26,1);
    border-radius: 20px;
    font-size:14px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:30px;
    .icon {
        padding: 5px;
    }
}
.primarybtn:active {
    background:rgba(238,176,26,0.7);
}
.defaultbtn {
    background:rgba(223,225,227,1);
    border-radius: 15px;
    font-size:14px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(71,74,82,1);
    line-height:30px;
    .icon {
        padding: 5px;
    }
}
.defaultbtn:active {
    background: rgba(0,0,0,0.4)
}
.circularbtn {
    width:30px;
    height:30px;
    border-radius:20px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    .icon {
        padding: 0;
    }
}
.bigbtn {
    padding: 10px 20px;
    border-radius:35px;
    font-size:24px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    line-height: 33px;
}
.samllbtn {
    padding: 10px 15px;
    border-radius:20px;
    font-size:16px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    line-height: 22px;
}
.minibtn {
    padding: 10px 10px;
    border-radius:20px;
    font-size:14px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    line-height: 20px;
}

button:focus{outline:0;} 
button {
    border:none;
}

.icon-talk {
    font-size: 20px;
}